%p#notice= notice
%h1 Categories
.nestable-menu
  %button{type: "button",
    data: {action: "expand-all"},
    class: "btn btn-sm btn-secondary"} Expand All
  %button{type: "button",
    data: {action: "collapse-all"},
    class: "btn btn-sm btn-secondary"} Collapse All
.dd
  = nested_categories @categories.arrange
%hr
= link_to 'New Category', new_category_path, class: "btn btn-primary"
%button{type:"button", class: "btn btn-primary btn-update-categories"} Update categories
