.row.justify-content-center
  .col-md
    %h3 Category:  #{@category.name}
    - if @category.children?
      .list-group
        = render partial: 'categories/category', collection:  @category.children
    - if @category.products.any?
      %h5
        Products:
      .card-group
        = render partial: 'categories/product', collection: @category.products

    = link_to 'Back to categories', categories_path
